services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: porto_app
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
      - ORIGIN=https://porto.nvrl.my.id
